<h1>Decisions#index</h1>
  <p> Democrat </p>
  <p> Republican </p> 
  
      
      <% @ballots.each do |d| %>
  <li>
    <%= link_to d.date, ballot_path(d) %>
  </li>
<% end %>
</ul>



        <%= link_to "New Ballot", new_ballot_path %>




        <br>
        <br>

        <p> My saved ballots </p>
     <% @ballots.each do |d| %>
        <li>
          <%= link_to d.date, saved_path(d) %>
        </li>
      <% end %>

