<h1>Decisions#index</h1>
  <p> Democrat </p>
  <p> Republican </p> 
  <%= link_to "New Ballot", new_ballot_path %>
      
      <% @ballots.each do |d| %>
  <li>
    <%= link_to d.date, ballot_propositions_path(d.id) %>
  </li>
<% end %>
</ul>


        