<h1>Today's Ballots</h1>
<ul>
  <% @ballots.each do |b| %>
    <li>
    <strong> <%= b.state %> </strong> -- <%= b.city %> <%= link_to "Show me more about #{b.date}!", ballot_path(b) %>
    </li>
  <% end %>
  <%= link_to "Make a new ballot!", ballot_new_path %>
</ul>
  