<h1>New Ballot (I care about the issues)</h1>

<h1>Criteria#new</h1>

<h1>Decisions#new</h1>

<%= form_for @ballot do |f| %>
  <%= f.text_field :date, placeholder: "What's the big choice????" %>
  <%= f.submit %>
<% end %>