  <h1>New Ballot (I care about the issues)</h1>

  <h1>Criteria#new</h1>

  <h1>Decisions#new</h1>

  <% @propositions.each do |p| %>
  <br>
  Proposition id:  <%= p.propid %> <br>
  What this means:  <%= p.whatitmeans %> <br>
  

  <% end %>

