
  
    <h1>Ballot <%= @ballot.date %>  <h1>
      <div class="container1">
<div class="jumbotron">

      <% @propositions.each do |p| %>
      <br>
        <table class="table table-striped">
 <tr><td> Proposition id:</td>
 <td><%= p.propid %> </td>
 </tr>
</table>
         
    

       
        <br>
          <br>

        
        <% p.comments.where(:user_id => @current_user, :ballot_id => @ballot.id).each do |c| %>
        <%= c.text %>
        <% end %>

        <% end %>
      </div>
    </div>

 
  





       

       