
  <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>LAZY VOTER</h1>
            <h3>Stop being lazy and start voting!</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Sign up today!!</a>
        </div>
    </header>